/* ------------------------------- */
/* Project  : Super Hero Wiki      */
/* File     : style.css            */
/* Authors  : Ballard Ingram  (BI) */
/*          : Stephen Fike    (SF) */
/*          : Nathan Greiling (NG) */
/*          : Matthew Berti   (MB) */
/*          : Kevin Heaton    (KH) */
/*          : Vicente Garcia  (VG) */
/* Created  : 03/18/2022           */
/* Modified : 03/23/2022           */
/* ------------------------------- */
body {
    font-family: 'Permanent Marker', cursive;
    color: black;
}
.mainContainer {
    /* margin: 10px 0 10px 10px; */
    display: -ms-grid;
    display: grid;
    grid-template-columns: 25% 75%;
    /* grid-column-gap: 10px; */
    /* grid-row-gap: 10px; */
    width: 100%;
}
.header {
    grid-column: 1/4;
    grid-row: 1/2;
    background-image: url(https://s1.gifyu.com/images/marvelbackground.gif);
    background-size: cover;
    background-position: center;
    border: 10px solid black;
    margin: 5px;
    font-size: 5rem;
}
.header p {
    font-size: 3rem;
    vertical-align: center;
} 
.nav {
    grid-column: 1;
    grid-row: 2 / 4;
    background-image: url(https://wallpapertag.com/wallpaper/full/5/9/7/354610-large-comic-book-background-2048x2048-for-android-50.jpg);
    background-size: auto;
    border: 10px solid black;
    padding: 10px;
    margin: 5px;
    font-size: 2rem;
    height: auto;
}
.main {
    grid-column: 2,3,4;
    grid-row: 2;
    grid-row-gap: 20px;
    background-image: url(https://as1.ftcdn.net/v2/jpg/01/43/21/48/1000_F_143214885_giQJ2nbKFxbKJ9IFxQqJN09McuEmq0CN.jpg);
    border: 10px solid black;
    padding: 10px;
    margin: 5px;
    font-size: 2rem;
    background-position: -50px 0;
}
.main input{
    padding: 0px 10px;
}
.media {
    grid-column: 2;
    grid-row: 3;
    background-image: url(https://cdn3.vectorstock.com/i/1000x1000/02/52/big-city-cartoon-book-style-background-vector-15760252.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid black;
    padding: 10px;
    margin: 5px;
    font-size: 2rem;
    /*height: 200px;*/
}
.movies a{
    color: white;
}
.footer {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/8/212/856/dc-comics-joker-wallpaper-preview.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: black;
    border: 10px solid black;
    padding: 10px;
    margin: 5px;
    text-align: center;
}
.footer a {
    color: white;
    font-size: 2rem;
    background-image: url(https://beet.gr/wp-content/uploads/2021/05/dc-comics-banner-2000x566.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid white;
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px;
}
.footer p {
    font-size: 12px;
    text-align: center;
}
.modal-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(0,0,0,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    width: 40%;
    height: 50%;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
    border-radius: 10px;
}
.modal-close{
    transform: translateY(-200%);
}
.close{
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 30px;
    height: 25px;
    background: red;
    color: white;
    box-shadow: 2px 2px 2px black;
    text-shadow: 1px 1px 1px black;
    font-weight: bolder;
    line-height: 25px;
    cursor: pointer;
    border-radius: 30%;
}
.close:hover{
    top: 6px;
    box-shadow: 1px 1px 1px black;
    text-shadow: 0px 0px 0px black;
}
.close:active{
    top: 8px;
    box-shadow: 0px 0px 0px black;
}
.overview{
    text-shadow: 2px 5px 3px black;
    color: white;
}
